Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Map, Sprites, UI, C#, Shaders, Audio, Docs, FTL, DB Migration

.github/labeler.yml:

"Changes: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"YML":
- all:
  # Include all .yml files in the repository
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
  # Exclude .yml files in the _PS subdirectories of Maps and Prototypes/Maps
  - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"

Remove map for now
  Resources/Maps/_PS/Prospect/prospect.yml
Labels: Changes: Map

Add cargo storage system
  Content.Client/_PS/CargoStorage/BUI/CargoStorageConsoleBoundUserInterface.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageCartProductRow.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageCartProductRow.xaml.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageProductRow.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageProductRow.xaml.cs
  Content.Client/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Server/_PS/CargoStorage/Components/CargoStorageConsoleComponent.cs
  Content.Server/_PS/CargoStorage/Components/CargoStorageDataComponent.cs
  Content.Server/_PS/CargoStorage/Extensions/CargoStorageDataExtensions.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.CrateMachine.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.cs
  Content.Server/_PS/CrateMachine/CrateMachineOpenedEvent.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.Animation.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Server/_PS/GameRule/Components/ProspectGameRuleComponent.cs
  Content.Server/_PS/GameRule/Systems/ProspectGameRuleSystem.cs
  Content.Shared/_PS/CargoStorage/BUI/CargoStorageConsoleInterfaceState.cs
  Content.Shared/_PS/CargoStorage/Components/CargoStorageItemSpawnerComponent.cs
  Content.Shared/_PS/CargoStorage/Data/CargoStorageData.cs
  Content.Shared/_PS/CargoStorage/Events/CargoStorageCartMessage.cs
  Content.Shared/_PS/CargoStorage/Events/CargoStoragePurchaseMessage.cs
  Content.Shared/_PS/CargoStorage/Systems/SharedCargoStorageSystem.cs
  Content.Shared/_PS/CrateMachine/Components/CrateMachineComponent.cs
  Content.Shared/_PS/CrateMachine/CrateMachineVisuals.cs
  Content.Shared/_PS/CrateMachine/Systems/SharedCrateMachineSystem.cs
  Resources/Locale/en-US/_PS/cargo-storage/cargo-storage.ftl
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/crate_machine.yml
  Resources/Prototypes/_PS/Maps/prospect_sector.yml
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/background.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/closed.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/closing.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/crate.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/meta.json
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/open.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/opening.png
Labels: Changes: Map, Sprites, UI, C#, FTL

Disable shuttles
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: C#

Update README.md
  README.md
Labels: Docs

Demystify numbers
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
  Content.Shared/_PS/CargoStorage/Systems/SharedCargoStorageSystem.cs
Labels: UI, C#

Add loose order button
  Content.Client/_PS/CargoStorage/BUI/CargoStorageConsoleBoundUserInterface.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml.cs
  Content.Client/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Server/_PS/CargoStorage/Components/CargoStorageDataComponent.cs
  Content.Server/_PS/CargoStorage/Extensions/CargoStorageDataExtensions.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.CrateMachine.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.Animation.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Shared/_PS/CargoStorage/BUI/CargoStorageConsoleInterfaceState.cs
  Content.Shared/_PS/CargoStorage/Components/CargoStorageItemSpawnerComponent.cs
  Content.Shared/_PS/CargoStorage/Events/CargoStoragePurchaseMessage.cs
  Content.Shared/_PS/CargoStorage/Systems/SharedCargoStorageSystem.cs
  Content.Shared/_PS/CrateMachine/Components/CrateMachineComponent.cs
  Content.Shared/_PS/CrateMachine/CrateMachineVisuals.cs
  Resources/Locale/en-US/_PS/cargo-storage/cargo-storage.ftl
Labels: UI, C#, FTL

Update map
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: Changes: Map

WIP base
  Content.Client/_PS/Expadition/ExpaditionConsoleBoundUserInterface.cs
  Content.Client/_PS/Expadition/ExpaditionMenu.xaml
  Content.Client/_PS/Expadition/ExpaditionMenu.xaml.cs
  Content.Server/_PS/Expadition/ExpaditionSystem.Console.cs
  Content.Server/_PS/Expadition/ExpaditionSystem.cs
  Content.Server/_PS/Expadition/SpawnExpaditionJob.cs
  Content.Shared/_PS/Expadition/ExpaditionConsoleComponent.cs
  Content.Shared/_PS/Expadition/ExpaditionPadComponent.cs
  Content.Shared/_PS/Expadition/Expaditions.cs
  Content.Shared/_PS/Expadition/SharedExpaditionSystem.cs
  Content.Shared/_PS/Expadition/StartExpaditionMessage.cs
  Resources/Locale/en-US/_PS/expadition.ftl
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/expadition.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/expad.yml
  Resources/Textures/_PS/Structures/Machines/expad.rsi/expad.png
  Resources/Textures/_PS/Structures/Machines/expad.rsi/meta.json
Labels: Sprites, UI, C#, FTL

WIP rename
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/cargo_storage.yml
Labels: none

Use marked tile for pad
  Resources/Prototypes/_PS/Entities/Structures/Machines/expad.yml
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/base.png
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/meta.json
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/unshaded.png
Labels: Sprites

Fix grid leak
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: Changes: Map

Add perma return portal
  Content.Server/_PS/Expadition/ExpaditionSystem.Console.cs
Labels: C#

Fix return pad
  Content.Server/_PS/Expadition/ExpaditionSystem.Console.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Content.Shared/_PS/Expadition/ExpadReturnMarkerComponent.cs
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/expad.yml
Labels: Changes: Map, C#
