Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Map, C: Sprites, C: UI, C: C#, C: Shaders, C: Audio, C: Docs, C: FTL, C: DB Migration

.github/labeler.yml:

"C: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"C: Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"C: UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"C: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"C: Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C: No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"C: Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"C: FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"C: YML":
- all:
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
    - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"C: DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update timestamp in prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update timestamp in prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Add prospect emergency shuttle (#52)
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Content.Server/_PS/Shuttles/ProspectEmergencyShuttleComponent.cs
  Content.Shared/_PS/CCVar/CCVars.PS.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
  Content.Shared/_PS/Shuttles/SharedProspectEmergencyArrivalsSystem.cs
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Maps/_PS/Shuttles/emercryo_8925.yml
Labels: C: Map, C: C#

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CargoStorageSystem.Console.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
Labels: C: C#

Remove .github/CODEOWNERS from tracking and add to gitignore
  .github/CODEOWNERS
  .gitignore
Labels: none

Fix build errors
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.CrateMachine.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
Labels: C: C#

Update core rules
  Resources/ServerInfo/_PS/Guidebook/ServerRules/ProspectCoreOnlyRules.xml
Labels: C: Docs

Remove nonexistent files
  Resources/Prototypes/_PS/Guidebook/cargo.yml
  Resources/Prototypes/_PS/Guidebook/shiftandcrew.yml
  Resources/Prototypes/_PS/Guidebook/station.yml
Labels: none

Add claude markdown file
  CLAUDE.md
Labels: C: Docs

Add claude markdown file (#55)
  CLAUDE.md
Labels: C: Docs

Fix build errors after upstream merge
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
Labels: C: C#

Fix YAML linter: Food/Drink components merged into Edible
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
Labels: none

Add ItemStats system with rarity, stats, and affixes
  Content.Shared/_PS/Stats/Components/ItemStatsComponent.cs
  Content.Shared/_PS/Stats/Prototypes/ItemAffixPrototype.cs
  Content.Shared/_PS/Stats/Prototypes/ItemRarityPrototype.cs
  Content.Shared/_PS/Stats/StatType.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/_PS/stats.ftl
  Resources/Prototypes/_PS/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_PS/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_PS/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_PS/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Guns/ranged_weapons.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Melee/melee_weapons.yml
  Resources/Prototypes/_PS/Stats/affixes.yml
  Resources/Prototypes/_PS/Stats/rarities.yml
  Resources/Prototypes/_PS/Stats/test_items.yml
Labels: C: C#, C: FTL

Add stat-based damage interception to ItemStatsSystem
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
Labels: C: C#

Add randomized stat spawning system
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Shared/_PS/Stats/Components/ItemStatsComponent.cs
  Resources/Prototypes/_PS/Entities/Markers/Spawners/loot_spawners.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Guns/ranged_weapons.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Melee/melee_weapons.yml
Labels: C: C#

Add terradrop level system and PS dungeon configs
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/_PS/Stats/Components/ItemStatsComponent.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/Maps/Dungeon/haunted.yml
  Resources/Prototypes/_PS/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_PS/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_PS/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_PS/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_PS/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Procedural/salvage_loot_ps.yml
  Resources/Prototypes/_PS/Procedural/salvage_mods.yml
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: Map, C: C#

Stat fixes
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Verbs/Verb.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Stats/StatType.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
  Resources/Locale/en-US/_PS/stats.ftl
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/Entities/Markers/marker_base.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_PS/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_PS/Entities/Markers/Spawners/loot_spawners.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Melee/melee_weapons.yml
  Resources/Prototypes/_PS/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Stats/test_items.yml
Labels: C: UI, C: C#, C: FTL

Address Copilot review feedback
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
Labels: C: C#

Address remaining Copilot review feedback
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
Labels: C: UI, C: C#

Fix duplicate event subscription for DamageModifyEvent
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
Labels: C: C#

Add parallel dungeon generation system
  Content.IntegrationTests/Tests/_PS/Procedural/ProspectDungeonTests.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/_PS/Procedural/Executors/DungeonGeneratorExecutors.cs
  Content.Server/_PS/Procedural/Executors/DungeonLayerExecutors.cs
  Content.Server/_PS/Procedural/Executors/ILayerExecutor.cs
  Content.Server/_PS/Procedural/Executors/LayerExecutorRegistry.cs
  Content.Server/_PS/Procedural/Executors/PostGenerationExecutors.cs
  Content.Server/_PS/Procedural/Generation/DungeonGenerationContext.cs
  Content.Server/_PS/Procedural/Generation/ParallelDungeonGenerator.cs
  Content.Server/_PS/Procedural/ProspectDungeonSystem.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
Labels: C: C#

Optimize dungeon generator executors and fix build errors
  Content.Server/_PS/Procedural/Executors/DungeonGeneratorExecutors.cs
  Content.Server/_PS/Procedural/Executors/ILayerExecutor.cs
  Content.Server/_PS/Procedural/Executors/LayerExecutorRegistry.cs
  Content.Server/_PS/Procedural/Executors/PostGenerationExecutors.cs
  Content.Server/_PS/Procedural/Generation/DungeonGenerationContext.cs
  Content.Server/_PS/Procedural/Generation/ParallelDungeonGenerator.cs
  Content.Server/_PS/Procedural/ProspectDungeonSystem.cs
Labels: C: C#

Fix Prospect dungeon generation post-gen executors
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/_PS/Procedural/Executors/DungeonGeneratorExecutors.cs
  Content.Server/_PS/Procedural/Executors/PostGenerationExecutors.cs
  Content.Server/_PS/Procedural/Generation/DungeonGenerationContext.cs
  Content.Server/_PS/Procedural/Generation/ParallelDungeonGenerator.cs
  Content.Server/_PS/Procedural/ProspectDungeonSystem.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
Labels: C: C#

Add Voronoi-based station generation system
  Content.Server/_PS/Procedural/Executors/LayerExecutorRegistry.cs
  Content.Server/_PS/Procedural/Executors/VoronoiStationDunGenExecutor.cs
  Content.Server/_PS/Procedural/Generation/DungeonGenerationContext.cs
  Content.Server/_PS/Procedural/Generation/ParallelDungeonGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/HallwayGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/MaintsGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/VoronoiZoneGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/ZoneRoomPlacer.cs
  Content.Shared/_PS/Procedural/StationGeneration/DepartmentPrototype.cs
  Content.Shared/_PS/Procedural/StationGeneration/StationZone.cs
  Content.Shared/_PS/Procedural/StationGeneration/VoronoiStationDunGen.cs
  Resources/Prototypes/_PS/Procedural/Departments/departments.yml
  Resources/Prototypes/_PS/Procedural/salvage_voronoi.yml
  Resources/Prototypes/_PS/Procedural/station_voronoi.yml
Labels: C: C#

Fix hallway intersection wall cleanup to preserve corners
  Content.Server/_PS/Procedural/StationGeneration/HallwayGenerator.cs
Labels: C: C#
