Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Map, C: Sprites, C: UI, C: C#, C: Shaders, C: Audio, C: Docs, C: FTL, C: DB Migration

.github/labeler.yml:

"C: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"C: Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"C: UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"C: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"C: Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C: No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"C: Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"C: FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"C: YML":
- all:
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
    - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"C: DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"

Revert upstream filechange
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
Labels: C: C#

Add ItemStats system with rarity, stats, and terradrop levels (#57)
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Verbs/Verb.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Stats/Components/ItemStatsComponent.cs
  Content.Shared/_PS/Stats/Prototypes/ItemAffixPrototype.cs
  Content.Shared/_PS/Stats/Prototypes/ItemRarityPrototype.cs
  Content.Shared/_PS/Stats/StatType.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/_PS/stats.ftl
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Maps/Dungeon/haunted.yml
  Resources/Prototypes/Entities/Markers/marker_base.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_PS/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_PS/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_PS/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_PS/Entities/Markers/Spawners/loot_spawners.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Guns/ranged_weapons.yml
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Melee/melee_weapons.yml
  Resources/Prototypes/_PS/Procedural/salvage_loot_ps.yml
  Resources/Prototypes/_PS/Procedural/salvage_mods.yml
  Resources/Prototypes/_PS/Stats/affixes.yml
  Resources/Prototypes/_PS/Stats/rarities.yml
  Resources/Prototypes/_PS/Stats/test_items.yml
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: Map, C: UI, C: C#, C: FTL

Automated changelog update (#57)
  Resources/Changelog/Prospect.yml
Labels: none

Add game_presets.yml to ignored prototypes
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
Labels: none

Set partial
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
Labels: C: C#

Replaced removed component with new one
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

Fix clothing modifier errors
  Resources/Prototypes/_PS/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_PS/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_PS/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_PS/Entities/Clothing/OuterClothing/armor.yml
Labels: none

Disable GSSAPI encryption for managed database connections
  Content.Server/Database/ServerDbManager.cs
Labels: C: C#

Remove networkgamez.com from hub_urls config presets (#62)
  Resources/ConfigPresets/PS/asteron.toml
  Resources/ConfigPresets/PS/testing.toml
Labels: none

Apply suggestion from @Copilot
  .github/workflows/publish.yml
Labels: none

Apply suggestion from @Copilot
  .github/workflows/publish.yml
Labels: none

Add CVar for Postgres GssEncryptionMode configuration
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: C: C#

publish: fix cron schedule, add permissions, and add skip-guard for unchanged main (#61)
  .github/workflows/publish.yml
Labels: none

Add CVar for Postgres ChannelBinding configuration
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: C: C#

Add error logging to database migration task
  Content.Server/Database/ServerDbPostgres.cs
Labels: C: C#

Revert "Add CVar for Postgres ChannelBinding configuration"
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: C: C#

Revert "Add CVar for Postgres GssEncryptionMode configuration"
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: C: C#

Revert "Disable GSSAPI encryption for managed database connections"
  Content.Server/Database/ServerDbManager.cs
Labels: C: C#

Use NpgsqlDataSource with explicit SSL callback for Npgsql 10
  Content.Server/Database/ServerDbManager.cs
Labels: C: C#

Add level-based enemy health & damage scaling in terradrop dungeons
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropMobScalingSystem.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
  Content.Shared/_PS/Terradrop/TerradropMobComponent.cs
Labels: C: C#

Add level-based enemy health & damage scaling in terradrop dungeons (#68)
  Content.Server/_PS/Stats/Systems/ItemStatsInitSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropMobScalingSystem.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Stats/Systems/ItemStatsSystem.cs
  Content.Shared/_PS/Terradrop/TerradropMobComponent.cs
Labels: C: C#

Implement player health threshold bonuses from equipped gear
  Content.Server/_PS/Stats/Systems/PlayerThresholdBonusSystem.cs
  Content.Shared/_PS/Stats/Components/BaseThresholdsComponent.cs
Labels: C: C#

Implement player health threshold bonuses from equipped gear (#69)
  Content.Server/_PS/Stats/Systems/PlayerThresholdBonusSystem.cs
  Content.Shared/_PS/Stats/Components/BaseThresholdsComponent.cs
Labels: C: C#

Add destructible loot crates with scatter physics for terradrop dungeons
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/_PS/ScatterOnSpawn/PSScatterOnSpawnSystem.cs
  Content.Shared/_PS/ScatterOnSpawn/PSScatterOnSpawnComponent.cs
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Entities/Markers/Spawners/loot_spawners.yml
  Resources/Prototypes/_PS/Entities/Structures/loot_containers.yml
  Resources/Prototypes/_PS/Procedural/salvage_loot_ps.yml
Labels: C: C#

Add destructible loot crates with scatter physics for terradrop dungeons (#70)
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/_PS/ScatterOnSpawn/PSScatterOnSpawnSystem.cs
  Content.Shared/_PS/ScatterOnSpawn/PSScatterOnSpawnComponent.cs
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_PS/Entities/Markers/Spawners/loot_spawners.yml
  Resources/Prototypes/_PS/Entities/Structures/loot_containers.yml
  Resources/Prototypes/_PS/Procedural/salvage_loot_ps.yml
Labels: C: C#

Add 30% chance boss dragon spawn in terradrop dungeons
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
Labels: C: C#

Add multi-instance terradrop portals with disconnect/reconnect controls
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInstanceListPopup.xaml
  Content.Client/_PS/Terradrop/TerradropInstanceListPopup.xaml.cs
  Content.Server/_PS/Terradrop/TerminateTerradropCommand.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Shared/_PS/Terradrop/DisconnectPortalMessage.cs
  Content.Shared/_PS/Terradrop/ReconnectPortalMessage.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropActiveMissionData.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Guns/ranged_weapons.yml
Labels: C: UI, C: C#, C: FTL

Add 30% chance boss dragon spawn in terradrop dungeons (#71)
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
Labels: C: C#

Add multi-instance terradrop portals with disconnect/reconnect controls (#72)
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropInstanceListPopup.xaml
  Content.Client/_PS/Terradrop/TerradropInstanceListPopup.xaml.cs
  Content.Server/_PS/Terradrop/TerminateTerradropCommand.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Shared/_PS/Terradrop/DisconnectPortalMessage.cs
  Content.Shared/_PS/Terradrop/ReconnectPortalMessage.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropActiveMissionData.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Entities/Objects/Weapons/Guns/ranged_weapons.yml
Labels: C: UI, C: C#, C: FTL

Redesign terradrop console to vertical accordion list with planet icons
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropContainerPanel.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
  Resources/Prototypes/_PS/Terradrop/terradrop_planet_icons.yml
  Resources/Textures/_PS/Terradrop/planets.rsi/bastara.png
  Resources/Textures/_PS/Terradrop/planets.rsi/crimsonis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/crownis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/ebonis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/ferros.png
  Resources/Textures/_PS/Terradrop/planets.rsi/meta.json
  Resources/Textures/_PS/Terradrop/planets.rsi/obscyra.png
  Resources/Textures/_PS/Terradrop/planets.rsi/recharis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/spironis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/veridia.png
  Resources/Textures/_PS/Terradrop/planets.rsi/zerona_prime.png
Labels: C: Sprites, C: UI, C: C#, C: FTL

Fix yaml error
  Resources/Prototypes/_PS/Terradrop/terradrop_planet_icons.yml
Labels: none

Add level progression tracking and map unlock system for terradrop
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
Labels: C: UI, C: C#, C: FTL

Redesign terradrop console with accordion list and planet icons (#73)
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropContainerPanel.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
  Resources/Prototypes/_PS/Terradrop/terradrop_planet_icons.yml
  Resources/Textures/_PS/Terradrop/planets.rsi/bastara.png
  Resources/Textures/_PS/Terradrop/planets.rsi/crimsonis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/crownis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/ebonis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/ferros.png
  Resources/Textures/_PS/Terradrop/planets.rsi/meta.json
  Resources/Textures/_PS/Terradrop/planets.rsi/obscyra.png
  Resources/Textures/_PS/Terradrop/planets.rsi/recharis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/spironis.png
  Resources/Textures/_PS/Terradrop/planets.rsi/veridia.png
  Resources/Textures/_PS/Terradrop/planets.rsi/zerona_prime.png
Labels: C: Sprites, C: UI, C: C#, C: FTL

Fix missing teleport sound for cross-map terradrop portals
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

Restrict terradrop portals to player-controlled entities only
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropPortalComponent.cs
Labels: C: C#

Fix missing teleport sound for cross-map terradrop portals (#74)
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

Use ActorComponent instead of MindContainerComponent for portal filter
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
Labels: C: C#

Restrict terradrop portals to players only (#75)
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropPortalComponent.cs
Labels: C: C#

fix: reorder `--arg` flags before `--jq` in publish.yml guard step (#76)
  .github/workflows/publish.yml
Labels: none

feat: add kill/destroy win conditions to Terradrop instances
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropObjectiveTargetComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
Labels: C: C#, C: FTL
