Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Map, C: Sprites, C: UI, C: C#, C: Shaders, C: Audio, C: Docs, C: FTL, C: DB Migration

.github/labeler.yml:

"C: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"C: Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"C: UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"C: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"C: Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C: No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"C: Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"C: FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"C: YML":
- all:
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
    - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"C: DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"

feat: show 'Completed (Lv. N)' status on terradrop console planets
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
Labels: C: UI, C: C#, C: FTL

feat: gate terradrop progression behind objective completion
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
Labels: C: C#

feat: unlock terradrop progression immediately on objective completion
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

fix: prerequisite check uses completion not unlock state
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
Labels: C: C#

feat: add global level prerequisites to endgame terradrop planets
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: C#

feat: show global level requirement in terradrop prereqs list
  Content.Client/_PS/Terradrop/TerradropMapRow.xaml.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
Labels: C: UI, C: C#, C: FTL

feat: BSP dungeon generation for terradrop
  Content.Server/_PS/Procedural/Executors/BspDungeonDunGenExecutor.cs
  Content.Server/_PS/Procedural/Executors/LayerExecutorRegistry.cs
  Content.Server/_PS/Procedural/Generation/BspNode.cs
  Content.Server/_PS/Procedural/Generation/BspPartitioner.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Shared/_PS/Procedural/BspDungeonDunGen.cs
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: C: C#

fix(bsp): keep corridors 3-wide near neighbouring prefabs; add junction knobs
  Content.Server/_PS/Procedural/Executors/BspDungeonDunGenExecutor.cs
  Content.Shared/_PS/Procedural/BspDungeonDunGen.cs
Labels: C: C#

chore: remove VoronoiStationDunGen (superseded by BSP)
  Content.Server/_PS/Procedural/Executors/LayerExecutorRegistry.cs
  Content.Server/_PS/Procedural/Executors/VoronoiStationDunGenExecutor.cs
  Content.Server/_PS/Procedural/Generation/DungeonGenerationContext.cs
  Content.Server/_PS/Procedural/Generation/ParallelDungeonGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/HallwayGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/MaintsGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/VoronoiZoneGenerator.cs
  Content.Server/_PS/Procedural/StationGeneration/ZoneRoomPlacer.cs
  Content.Shared/_PS/Procedural/StationGeneration/DepartmentPrototype.cs
  Content.Shared/_PS/Procedural/StationGeneration/StationZone.cs
  Content.Shared/_PS/Procedural/StationGeneration/VoronoiStationDunGen.cs
  Resources/Prototypes/_PS/Procedural/Departments/departments.yml
  Resources/Prototypes/_PS/Procedural/salvage_voronoi.yml
  Resources/Prototypes/_PS/Procedural/station_voronoi.yml
Labels: C: C#

fix(bsp): preserve prefab edge walls when flanks widen
  Content.Server/_PS/Procedural/Executors/BspDungeonDunGenExecutor.cs
Labels: C: C#

feat(bsp): guaranteed prefab placement; integrate terradrop landing room
  Content.Server/_PS/Procedural/Executors/BspDungeonDunGenExecutor.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Shared/_PS/Procedural/BspDungeonDunGen.cs
  Resources/Maps/_PS/Dungeon/terradrop_default_landing.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: C: Map, C: C#

fix(ci): resolve analyzer errors (unused field, stackalloc loop, TryIndex literal)
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/_PS/Procedural/Executors/BspDungeonDunGenExecutor.cs
  Content.Server/_PS/Procedural/ProspectDungeonSystem.cs
Labels: C: C#

feat: Terradrop looming-threat incursion system
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/NOTES_outside_spawners.md
  Content.Server/_PS/Terradrop/TerradropHunterComponent.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropThreatComponent.cs
  Content.Server/_PS/Terradrop/TerradropThreatSpawnerComponent.cs
  Content.Server/_PS/Terradrop/TerradropThreatSystem.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Resources/Prototypes/_PS/Entities/Markers/Spawners/terradrop_threat.yml
  Resources/Prototypes/_PS/Entities/Structures/loot_containers.yml
  Resources/Prototypes/_PS/NPCs/terradrop_hunt.yml
Labels: C: C#, C: Docs

Update terradrop_default_landing.yml
  Resources/Maps/_PS/Dungeon/terradrop_default_landing.yml
Labels: C: Map

Revert "Update terradrop_default_landing.yml"
  Resources/Maps/_PS/Dungeon/terradrop_default_landing.yml
Labels: C: Map
