Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Map, C: Sprites, C: UI, C: C#, C: Shaders, C: Audio, C: Docs, C: FTL, C: DB Migration

.github/labeler.yml:

"C: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"C: Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"C: UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"C: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"C: Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C: No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"C: Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"C: FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"C: YML":
- all:
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
    - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"C: DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"

Base
  Content.Client/_PS/Terradrop/MiniMapCardControl.xaml
  Content.Client/_PS/Terradrop/MiniMapCardControl.xaml.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropContainerPanel.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropNodeItem.xaml
  Content.Client/_PS/Terradrop/TerradropNodeItem.xaml.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropColorScheme.cs
  Content.Shared/_PS/Terradrop/TerradropMapAvailability.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#, C: FTL

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Working base for terradrops
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropContainerPanel.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml.cs
  Content.Client/_PS/Terradrop/TerradropSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropActiveMissionData.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#, C: FTL

General fixes and improvements
  Content.Client/_PS/Terradrop/MiniMapCardControl.xaml.cs
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#

Add terminate command for admins
  Content.Server/_PS/Terradrop/TerminateTerradropCommand.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
Labels: C: C#

Update Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

Update Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
Labels: C: C#

Move copilot instructions
  .github/copilot-instructions.md
Labels: C: Docs

Move copilot instructions (#48)
  .github/copilot-instructions.md
Labels: C: Docs

Terradrop console (#47)
  Content.Client/_PS/Terradrop/MiniMapCardControl.xaml
  Content.Client/_PS/Terradrop/MiniMapCardControl.xaml.cs
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropContainerPanel.cs
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml
  Content.Client/_PS/Terradrop/TerradropInfoPanel.xaml.cs
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml
  Content.Client/_PS/Terradrop/TerradropMapNodeItem.xaml.cs
  Content.Client/_PS/Terradrop/TerradropSystem.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerminateTerradropCommand.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropActiveMissionData.cs
  Content.Shared/_PS/Terradrop/TerradropColorScheme.cs
  Content.Shared/_PS/Terradrop/TerradropMapAvailability.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#, C: FTL

Fix
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#

Update Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
Labels: C: UI, C: C#

Update Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
Labels: C: UI, C: C#

Terradrop code improvements (#49)
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Missions.cs
  Content.Shared/_PS/Terradrop/TerradropMapPrototype.cs
  Resources/Prototypes/_PS/Terradrop/terradrop.yml
Labels: C: UI, C: C#

Remove market from map
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Remove market from map (#50)
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Automated changelog update (#50)
  Resources/Changelog/Prospect.yml
Labels: none

Add prospect emergency shuttle
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Content.Server/_PS/Shuttles/ProspectEmergencyShuttleComponent.cs
  Content.Shared/_PS/CCVar/CCVars.PS.cs
  Content.Shared/_PS/CCVar/CCVars.Prospect.cs
  Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
  Content.Shared/_PS/Shuttles/SharedProspectEmergencyArrivalsSystem.cs
  Resources/Prototypes/_PS/Entities/Stations/base.yml
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
Labels: C: C#

Fix shuttle not docking
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Stations/base.yml
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
Labels: C: Map, C: C#

Add a shitified emergency shuttle
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
  Resources/Maps/_PS/Shuttles/emercryo_8925.yml
Labels: C: Map, C: C#

Spawn on shuttle
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Resources/Maps/_PS/Shuttles/emercryo_8925.yml
Labels: C: Map, C: C#

Update Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
  Content.Server/_PS/Shuttles/ProspectEmergencyArrivalsSystem.cs
Labels: C: C#

Update Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
  Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
Labels: C: C#

Revert "Update Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs"
  Content.Shared/_PS/Shuttles/EmergencyArrivalsShuttleTargetComponent.cs
Labels: C: C#

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map
