Repository Prospect-Sector/prospect-sector, changes with the labels that .github/labeler.yml gives for each.
All labels: C: Map, C: Sprites, C: UI, C: C#, C: Shaders, C: Audio, C: Docs, C: FTL, C: DB Migration

Add maints marker
  Content.Client/_PS/Expadition/ExpaditionMenu.xaml
  Content.Server/_PS/Expadition/ExpaditionSystem.Console.cs
  Content.Server/_PS/Expadition/SpawnExpaditionJob.cs
  Content.Shared/_PS/Expadition/ExpaditionMapComponent.cs
  Resources/Locale/en-US/_PS/expadition.ftl
Labels: C: UI, C: C#, C: FTL

Add some meaningful names to the maps
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/haunted.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Dungeon/maints.yml
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/Dungeon/snowy_labs.yml
  Resources/Maps/Dungeon/template.yml
  Resources/Maps/Dungeon/vgroidinterior.yml
Labels: C: Map

Add map pool
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Prototypes/_PS/GameRules/prospect.yml
  Resources/Prototypes/_PS/Maps/Pools/prospect_map_pool.yml
Labels: C: C#

Revert arrivals_planet ccvar
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: C: C#

Update development.toml
  Resources/ConfigPresets/Build/development.toml
Labels: none

Set generator_enabled to false
  Content.Shared/CCVar/CCVars.Misc.cs
Labels: C: C#

Revert "Add some meaningful names to the maps"
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/haunted.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Dungeon/maints.yml
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/Dungeon/snowy_labs.yml
  Resources/Maps/Dungeon/template.yml
  Resources/Maps/Dungeon/vgroidinterior.yml
Labels: C: Map

Update prospect map
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Add comment
  Content.Shared/CCVar/CCVars.Game.cs
Labels: C: C#

Rename expad to Terradrop
  Content.Client/Content.Client.csproj
  Content.Client/_PS/Expadition/ExpaditionConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Server/_PS/Terradrop/ExpaditionSystem.Console.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Expadition/ExpadReturnMarkerComponent.cs
  Content.Shared/_PS/Expadition/ExpaditionMapComponent.cs
  Content.Shared/_PS/Expadition/SharedExpaditionSystem.cs
  Content.Shared/_PS/Expadition/StartExpaditionMessage.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropComponent.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropReturnMarkerComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/Locale/en-US/_PS/expadition.ftl
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/expadition.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/terradrop_pad.yml
  Resources/Textures/_PS/Structures/Machines/expad.rsi/expad.png
  Resources/Textures/_PS/Structures/Machines/expad.rsi/meta.json
Labels: C: Map, C: Sprites, C: UI, C: C#, C: FTL

Cleanup imports and reformat
  Content.Server/_PS/Terradrop/ExpaditionSystem.Console.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropReturnMarkerComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
Labels: C: C#

Rename files
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/terradrop_computer.yml
Labels: C: C#

Code cleanup
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/_PS/Terradrop/TerradropConsoleComponent.cs
  Content.Shared/_PS/Terradrop/TerradropConsoleInterfaceState.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/_PS/terradrop.ftl
Labels: C: C#, C: FTL

Update TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
Labels: C: C#

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Add terradrop landing map
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Resources/Maps/_PS/Dungeon/terradrop_default_landing.yml
  Resources/Prototypes/_PS/Procedural/Themes/terradrop_default_landing.yml
Labels: C: Map, C: C#

Fixups
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Prototypes/_PS/GameRules/prospect.yml
Labels: C: C#

Update Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
Labels: C: C#

Fix tag
  Resources/Prototypes/_PS/Procedural/Themes/terradrop_default_landing.yml
  Resources/Prototypes/_PS/tags.yml
Labels: none

Fix cargo storage whitelist
  Content.Server/_PS/CargoStorage/Components/CargoStorageDataComponent.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.CrateMachine.cs
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
  Resources/Prototypes/_PS/Maps/prospect_sector.yml
Labels: C: C#

Revert cvars
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: C: C#

Happy now
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
Labels: none

Revert "2025 08 15 ssl sql (#32)"
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: C: C#

Vent and scrubber sprites change
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: C: Sprites

Update meta.json
  Resources/Textures/_PS/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/_PS/Structures/Piping/Atmospherics/vent.rsi/meta.json
Labels: C: Sprites

Revert "Update prospect_sector.yml"
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map

.github/labeler.yml:

"C: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"C: Sprites":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"C: UI":
- changed-files:
  - any-glob-to-any-file: "**/*.xaml*"

"C: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"C: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

"C: Audio":
- changed-files:
  - any-glob-to-any-file: '**/*.ogg'

"C: No C#":
- changed-files:
  - all-globs-to-all-files: "!**/*.cs"

"C: Docs":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"C: FTL":
- changed-files:
  - any-glob-to-any-file: "Resources/Locale/**/*.ftl"

"C: YML":
- all:
  - changed-files:
    - any-glob-to-any-file: "**/*.yml"
    - all-globs-to-any-file:
      - "!Resources/Maps/_PS/**/*.yml"
      - "!Resources/Prototypes/Maps/_PS/**/*.yml"

"C: DB Migration":
- changed-files:
  - any-glob-to-any-file: "Content.Server.Database/Migrations/**/*.cs"
