Repository Prospect-Sector/prospect-sector, pull requests merged in 2025-08, with the labels that each got.

#15 Update workflow bot references to ProspectBot
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: size/S, C: No C#, S: Needs Review, S: Untriaged, C: YML

#7 Update actions_changelog_rss.py
  Resources/Changelog/Prospect.yml
  Resources/Locale/en-US/_PS/changelog/changelog-window.ftl
  Resources/Locale/en-US/changelog/changelog-window.ftl
  Tools/actions_changelog_rss.py
  Tools/actions_changelogs_since_last_run.py
Labels: size/S, C: No C#, S: Needs Review, S: Untriaged, C: FTL, C: YML

#16 Add automated changelog generation and validation
  .github/workflows/ps-changelog.yml
  .github/workflows/ps-validate-changelog.yml
  Resources/Changelog/Prospect.yml
  Resources/Changelog/ProspectAdmin.yml
  Resources/Locale/en-US/_PS/changelog/changelog-window.ftl
  Tools/_PS/changelog/changelog.js
  Tools/_PS/changelog/changelog_validator.js
  Tools/_PS/changelog/package.json
Labels: C: No C#, S: Needs Review, S: Untriaged, size/M, C: FTL, C: YML

#18 Update changelog metadata and workflow steps
  .github/workflows/ps-changelog.yml
  Resources/Changelog/Prospect.yml
  Resources/Changelog/ProspectAdmin.yml
Labels: C: No C#, S: Needs Review, S: Untriaged, C: YML

#24 Add PostgreSQL SSL/TLS connection support
  Content.Server/Database/PostgresConnectionFactory.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: size/S, S: Needs Review, S: Untriaged, C: C#

#26 Update default config vars and add PS config presets
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Resources/ConfigPresets/PS/prospectSector.toml
  Resources/ConfigPresets/PS/testing.toml
Labels: size/S, S: Needs Review, C: C#

#12 Terradropping
  Content.Client/Content.Client.csproj
  Content.Client/_PS/Terradrop/TerradropConsoleBoundUserInterface.cs
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml
  Content.Client/_PS/Terradrop/TerradropConsoleMenu.xaml.cs
  Content.Server/_PS/Terradrop/GenerateTerradropJob.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Console.cs
  Content.Server/_PS/Terradrop/TerradropSystem.Generation.cs
  Content.Server/_PS/Terradrop/TerradropSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Content.Shared/_PS/Terradrop/SharedTerradropSystem.cs
  Content.Shared/_PS/Terradrop/StartTerradropMessage.cs
  Content.Shared/_PS/Terradrop/TerradropConsoleComponent.cs
  Content.Shared/_PS/Terradrop/TerradropConsoleInterfaceState.cs
  Content.Shared/_PS/Terradrop/TerradropMapComponent.cs
  Content.Shared/_PS/Terradrop/TerradropPadComponent.cs
  Content.Shared/_PS/Terradrop/TerradropReturnMarkerComponent.cs
  Content.Shared/_PS/Terradrop/TerradropStationComponent.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/_PS/terradrop.ftl
  Resources/Maps/_PS/Dungeon/terradrop_default_landing.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/cargo_storage.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/terradrop_computer.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/terradrop_pad.yml
  Resources/Prototypes/_PS/Maps/Pools/prospect_map_pool.yml
  Resources/Prototypes/_PS/Procedural/Themes/terradrop_default_landing.yml
  Resources/Prototypes/_PS/tags.yml
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/base.png
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/meta.json
  Resources/Textures/_PS/Structures/Tiles/marked_tile.rsi/unshaded.png
Labels: C: UI, C: Map, C: Sprites, S: Needs Review, S: Untriaged, size/XL, C: C#, C: FTL, C: YML

#31 Add asteron.toml server config
  Resources/ConfigPresets/PS/asteron.toml
Labels: size/S, C: No C#, S: Needs Review, S: Untriaged

#33 Update labeler-review.yml
  .github/workflows/labeler-review.yml
Labels: C: No C#, S: Untriaged, size/XS, C: YML

#34 Add CONTRIBUTING.md and update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: C: No C#, S: Needs Review, size/M, C: Docs

#35 Add project instructions and guidelines for MACHINE
  copilot-instructions.md
Labels: C: No C#, S: Needs Review, S: Untriaged, size/M, C: Docs

#32 2025 08 15 ssl sql
  Content.Server/Database/ServerDbManager.cs
  Content.Shared/CCVar/CCVars.Database.cs
Labels: S: Needs Review, S: Untriaged, size/M, C: C#

#38 Add magnet comps
  Content.Shared/Salvage/SharedSalvageSystem.Magnet.cs
  Resources/Prototypes/_PS/Entities/Stations/prospect_station.yml
Labels: S: Needs Review, S: Untriaged, S: Approved, size/XS, C: C#, C: YML

#39 Update prospect station map
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map, C: No C#, S: Needs Review, S: Approved, size/L

#43 Update prospect_sector.yml
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: C: Map, C: No C#, S: Needs Review, S: Untriaged, size/XS
