Repository Prospect-Sector/prospect-sector, pull requests merged in 2025-07, with the labels that each got.

#5 Base gamemode
  Content.Server/_PS/GameRule/Components/ProspectGameRuleComponent.cs
  Content.Server/_PS/GameRule/Systems/ProspectGameRuleSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Content.Shared/_PS/CCVar/CCVars.PS.cs
  Resources/Locale/en-US/_PS/prospect/prospect.ftl
  Resources/Prototypes/_PS/GameRules/prospect.yml
  Resources/Prototypes/_PS/Maps/prospect_sector.yml
  Resources/Prototypes/_PS/game_presets.yml
Labels: size/S, Changes: Map, S: Needs Review

#8 Add cargo storage system
  Content.Client/_PS/CargoStorage/BUI/CargoStorageConsoleBoundUserInterface.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageCartProductRow.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageCartProductRow.xaml.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageMenu.xaml.cs
  Content.Client/_PS/CargoStorage/UI/CargoStorageProductRow.xaml
  Content.Client/_PS/CargoStorage/UI/CargoStorageProductRow.xaml.cs
  Content.Client/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Server/_PS/CargoStorage/Components/CargoStorageConsoleComponent.cs
  Content.Server/_PS/CargoStorage/Components/CargoStorageDataComponent.cs
  Content.Server/_PS/CargoStorage/Extensions/CargoStorageDataExtensions.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.Console.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.CrateMachine.cs
  Content.Server/_PS/CargoStorage/Systems/CargoStorageSystem.cs
  Content.Server/_PS/CrateMachine/CrateMachineOpenedEvent.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.Animation.cs
  Content.Server/_PS/CrateMachine/CrateMachineSystem.cs
  Content.Server/_PS/GameRule/Components/ProspectGameRuleComponent.cs
  Content.Server/_PS/GameRule/Systems/ProspectGameRuleSystem.cs
  Content.Shared/_PS/CargoStorage/BUI/CargoStorageConsoleInterfaceState.cs
  Content.Shared/_PS/CargoStorage/Components/CargoStorageItemSpawnerComponent.cs
  Content.Shared/_PS/CargoStorage/Data/CargoStorageData.cs
  Content.Shared/_PS/CargoStorage/Events/CargoStorageCartMessage.cs
  Content.Shared/_PS/CargoStorage/Events/CargoStoragePurchaseMessage.cs
  Content.Shared/_PS/CargoStorage/Systems/SharedCargoStorageSystem.cs
  Content.Shared/_PS/CrateMachine/Components/CrateMachineComponent.cs
  Content.Shared/_PS/CrateMachine/CrateMachineVisuals.cs
  Content.Shared/_PS/CrateMachine/Systems/SharedCrateMachineSystem.cs
  Resources/Locale/en-US/_PS/cargo-storage/cargo-storage.ftl
  Resources/Maps/_PS/Outpost/prospect_sector.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_PS/Entities/Structures/Machines/crate_machine.yml
  Resources/Prototypes/_PS/Maps/prospect_sector.yml
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/background.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/closed.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/closing.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/crate.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/meta.json
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/open.png
  Resources/Textures/_PS/Structures/Machines/crate_machine.rsi/opening.png
Labels: S: Needs Review, S: Untriaged, size/L

#11 Update map
  Resources/Maps/_PS/Outpost/prospect_sector.yml
Labels: S: Needs Review, S: Untriaged, size/L

#14 Rename labels in labeler.yml to use 'C:' prefix
  .github/labeler.yml
Labels: size/S, S: Needs Review, S: Untriaged
